html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.seatUi, .seatUiSelected{
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  margin: 2px;
  cursor: pointer;
}

.seatUi:hover{
  background-color: rgb(175, 210, 238);
}


.mainProceedButton{
  display: flex;
  justify-content: end;
  margin: 40px 20px;
}

.mainProceedButton button{
  cursor: pointer;
  padding: 10px;
}

.seatsRow{
  display: flex;

}

.seatsRow span{
  margin: 0px 5px 0px 0px;
}
